.metadata/
.JETEmitters/
.Java/
data/crimeOutput.csv



BI5A/**/jobInfo.properties
BI5A/.JETEmitters/
BI5A/.Java/
BI5A/.metadata/
BI5A/code/routines/system/*.*
BI5A/temp/
BI5A/sqlPatterns/
BI5A/.settings
BI5A/poms/
#talend.project
#.project

.idea
